.vscode
install.lock
*.marko.js
.cache/*
public/*
!public/index.html
!public/assets
node_modules/*
!node_modules/laco
node_modules/laco/node_modules/*
!node_modules/laco-ext-*
node_modules/laco-ext-*/node_modules/*
private/logs/*
!private/logs/index.html
